.cardDetails {
  border-color: #fff;
}
.card-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}
.albumImage {
  width: 80%;
  display: block;
  border-radius: 25px;
}
.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-price {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}
.new-price span {
  color: #000000;
}
.product-detail h2 {
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 1.1rem;
  padding: 0.3rem;
  opacity: 0.8;
}
.product-detail ul {
  margin: 1rem 0;
  padding-left: 0.3rem;
  font-size: 1rem;
}
.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(https://firebasestorage.googleapis.com/v0/b/licenseproject-c2773.appspot.com/o/products-files%2Fcheck-mark-svgrepo-com.png?alt=media&token=516ca788-1720-426d-80a6-3dbd181a5c90)
    left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
}
.product-detail ul li span {
  font-weight: 400;
}
.purchase-info {
  margin: 1.5rem 0;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover {
  background: #000;
  border-color: transparent;
  color: #fff;
}
.searchInput {
  padding-left: 27px;
}
.focusInput:focus {
  border-color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1004px) {
  .cardDetails {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .product-content {
    padding-top: 0;
  }
  .inputWidth {
    width: 100%;
  }
}

@media screen and (max-width: 1005px) {
  div.img-select {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .product-imgs {
    width: 100%;
  }
  .product-content {
    padding-left: 50px;
  }
}
